.navbar {
  background: #373f89;
  padding: 15px 0;
  width: 100%;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1.6rem;
  font-weight: bold;
  color: #8ca0ff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  transition: 0.2s;
  color: #971c1c;
}

.anchor {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

.nav-links li a:hover {
  color: #8ca0ff;
}
.nav-btn {
  padding: 8px 15px;
  background: #8ca0ff;
  color: white;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.2s;
  font-size: 1.5rem;
}

.nav-btn:hover {
  background-color: #6e7be7;
}

.auth-btn {
  display: flex;
  gap: 15px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.line {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 5px;
  margin: 4px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    right: 0;
    top: 70px;
    background: #222;
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 0;
    gap: 20px;
  }
  .nav-links.open {
    height: 200px;
    padding-top: 20px;
  }

  .nav-btn {
    display: none;
  }
}

.line1-open {
  transform: rotate(45deg) translate(5px, 5px);
}
.line2-open {
  opacity: 0;
}
.line3-open {
  transform: rotate(-45deg) translate(5px, -5px);
}
